<<<<<<< Updated upstream
html,body,section,.hela_sivu_1{display:block;max-width:388px;margin-left:auto;margin-right:auto;font-family:Arial,Helvetica,sans-serif;background-color: #7CB5B5;background-image: "DPP_04.JPG";}
#valin-0.1,#palaus {display:block;margin:auto;width:50%;}
header,.cell,.paasivus-0.1{display:block;margin:auto;padding:auto;}
=======
<<<<<<< HEAD
<<<<<<< HEAD
html,body,section,.hela_sivu_1{display:block;max-width:388px;margin-left:auto;margin-right:auto;font-family:Arial,Helvetica,sans-serif;background-color: rgba(119, 191, 191, 0.65);background-image: "DPP_04.JPG";}
#valin-0.1,#palaus {display:block;margin:auto;width:50%;}
header,.cell,.paasivus-0.1{display:block;margin:auto;padding:auto;}
ol,ul{ list-style-type: none;
}
=======
html,body,section,.hela_sivu_1{display:block;max-width:388px;margin-left:auto;margin-right:auto;font-family:Arial,Helvetica,sans-serif;background-color: #7CB5B5;background-image: "DPP_04.JPG";}
#valin-0.1,#palaus {display:block;margin:auto;width:50%;}
header,.cell,.paasivus-0.1{display:block;margin:auto;padding:auto;}
>>>>>>> origin/master
=======
html,body,section,.hela_sivu_1{display:block;max-width:388px;margin-left:auto;margin-right:auto;font-family:Arial,Helvetica,sans-serif;background-color: #7CB5B5;background-image: "DPP_04.JPG";}
#valin-0.1,#palaus {display:block;margin:auto;width:50%;}
header,.cell,.paasivus-0.1{display:block;margin:auto;padding:auto;}
>>>>>>> origin/master
>>>>>>> Stashed changes
.paasivus-0.1{display:block; 
						margin-right:3em; 
						padding: 10px; 
						width:280px;
					}
<<<<<<< Updated upstream
ol,ul			{			list-style: none;
	
}
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
ol,ul			{			list-style: none;
	
}
>>>>>>> origin/master
=======
ol,ul			{			list-style: none;
	
}
>>>>>>> origin/master
>>>>>>> Stashed changes
.plaat				{
						background-attachment:scroll;
						background-color: rgba(115, 177, 208, 0.56);
}
<<<<<<< Updated upstream
#osane				{background-color: rgba(199, 169, 127, 0.59);font-variant: small-caps; letter-spacing: 1.2px;}
=======
<<<<<<< HEAD
<<<<<<< HEAD
#osane				{background-color: rgba(199, 169, 127, 0.59);font-variant: small-caps; letter-spacing: 1.8px;}
=======
#osane				{background-color: rgba(199, 169, 127, 0.59);font-variant: small-caps; letter-spacing: 1.2px;}
>>>>>>> origin/master
=======
#osane				{background-color: rgba(199, 169, 127, 0.59);font-variant: small-caps; letter-spacing: 1.2px;}
>>>>>>> origin/master
>>>>>>> Stashed changes
table, td{				display: block;
						border-collapse: separate;
						font-family: Verdana, Helvetica, sans-serif;
						font-weight:bold;
						letter-spacing: 2px;
					}
.poks-taulu,#b_1	{
<<<<<<< Updated upstream
						border: 3px solid rgba(130, 49, 42, 0.75);
						background-color: rgba(126, 169, 127, 0.4);
=======
<<<<<<< HEAD
<<<<<<< HEAD
						border: 3px solid rgba(67, 197, 78, 0.84);
						background-color: rgba(89, 236, 231, 0.76);
=======
						border: 3px solid rgba(130, 49, 42, 0.75);
						background-color: rgba(126, 169, 127, 0.4);
>>>>>>> origin/master
=======
						border: 3px solid rgba(130, 49, 42, 0.75);
						background-color: rgba(126, 169, 127, 0.4);
>>>>>>> origin/master
>>>>>>> Stashed changes
					}
.poks-cell td    	{
						border: 3px solid rgba(68, 142, 135, 0.6);
						background-color: rgba(31, 167, 126, 0.5);
						}
.ui-widget-header		{color: rgba(71, 109, 115, 0.99);}

a:hover				{	margin:auto; 
						color:orange;
						background-color: rgba(13, 51, 110, 0.5);
						letter-spacing: 2px;
						font-style:italic;}
a img 				{  	
						opacity:0.4;
						width:380px;}
#paasi-foot,{ 
						background-color: rgba(36, 170, 156, 0.3); 
						margin:auto; 
						color: rgba(26, 74, 53, 0.71);
					}
fieldset,#boora{ 		border-radius: 10px;
					} 
/* #boora:hover {border-radius: 30%;} */
#boura{ 				border-radius: 100px /50% 50% 0 0 transition 0.3;
}
/* #boura:hover {border-radius: 10%;} */ 
.toggler { 				display: block; 
						margin-left:auto;
						margin-right:auto;  
						width: auto; 
						height: auto; 
						border-radius: 0.5%;}
#accordion { 			width: 358px; 
						margin:auto;
						position:relative;
					}
#paa_nav, #button { 	margin-right:3.3em; 
						text-decoration: none; 
					}
#paa_nav, #button:hover {color:red; position: relative;
					}
#effect { 
	margin:auto; width: 358px; height:auto; position: relative; color: navy;text-align: center;background-color:rgba(139, 81, 14, 0.20);border-radius: 2.5%;}
#effectTypes { width: 120px; height:auto; position: relative; text-align: center;}
/*section{ margin:auto; text-align: auto; position:relative; border-radius: 6%;}*/
#selit1,{ display:block; margin-top: 15px;  text-align: center;letter-spacing: 0.8px; width:100%; position:relative;background-color:rgba(20, 255, 208, 0.6);}
<<<<<<< Updated upstream
h1,h2,h3,h4,p,#lyhyt { margin-top:auto; margin-bottom:auto; padding:3px; text-align: center; outline:none; color:rgb(180, 26, 26); border-radius: 25%;}
a,span {margin-top:auto; margin-bottom:auto; text-align: center;color: rgba(150, 84, 68, 0.98);}
*.shadow { text-shadow: rgba(56, 109, 214, 0.59) 6px 1px 5px;}
=======
<<<<<<< HEAD
<<<<<<< HEAD
h1,h2,h3,h4,p,#lyhyt { margin-top:auto; margin-bottom:auto; padding:3px; text-align: center; outline:none; color: rgb(28, 37, 90); border-radius: 45%;}
a,span {margin-top:auto; margin-bottom:auto; padding: 5px; text-align: center;color: rgba(150, 84, 68, 0.98);}
*.shadow { text-shadow: rgba(64, 189, 138, 0.67) 6px 1px 5px;}
=======
h1,h2,h3,h4,p,#lyhyt { margin-top:auto; margin-bottom:auto; padding:3px; text-align: center; outline:none; color:rgb(180, 26, 26); border-radius: 25%;}
a,span {margin-top:auto; margin-bottom:auto; text-align: center;color: rgba(150, 84, 68, 0.98);}
*.shadow { text-shadow: rgba(56, 109, 214, 0.59) 6px 1px 5px;}
>>>>>>> origin/master
=======
h1,h2,h3,h4,p,#lyhyt { margin-top:auto; margin-bottom:auto; padding:3px; text-align: center; outline:none; color:rgb(180, 26, 26); border-radius: 25%;}
a,span {margin-top:auto; margin-bottom:auto; text-align: center;color: rgba(150, 84, 68, 0.98);}
*.shadow { text-shadow: rgba(56, 109, 214, 0.59) 6px 1px 5px;}
>>>>>>> origin/master
>>>>>>> Stashed changes
#otsikko,#omaOtsikko{margin:auto; width:auto; position: relative; text-align:left; }
aside,#silita,{ display: block; margin:auto; width: 350px; position: relative; }
#silita-0.1{ margin:auto; width:100%; position: relative;}
#ui-id-2 { background: rgba(161, 189, 224, 0.71); margin:10px; border-radius: 20px; border-spacing: 5;}
#ui-id-4 { background: rgba(106, 204, 214, 0.65); margin:10px; border-radius: 20px;}
#ui-id-4 #hide {color: #3ec079;}
#ui-id-6 { background: rgba(147, 199, 159, 0.76); margin:10px; border-radius: 20px;}
#ui-id-6 #hide {color: #4ec069;}
#ui-id-8 { background: rgba(120, 169, 118, 0.69); margin:10px; border-radius: 20px;}
#ui-id-8 #hide {color: #5ec059;}
#ui-id-10{ background: rgba(205, 220, 57, 0.62); margin:10px; border-radius: 20px;}
#ui-id-10 #hide{ color: #6ec049;}
#ui-id-12{ background: rgba(194, 249, 136, 0.65); margin:10px; border-radius: 20px;}

.important { margin-top: 20px;color:#0918dd; width: 200px; height: auto; border-radius: 40px; position:relative;}

    #v_nav_bar a { margin:5px;padding:2px; font-style:italic; display: block; width:auto; border-radius: 10px; position:relative;}
    #v_nav_bar a:link { color:#2599d0; background-color: #1893ba; }
    #v_nav_bar a:visited { color:rgba(128, 203, 196, 0.62); background-color: #1893ba; }
    #v_nav_bar a:hover { color:#99d0d0; background-color: #1e93ba;}
    #v_nav_bar a:active { color:#aa99d0; background-color: #1893ba;}

#v_nav_bar {display:block; background-color:rgba(215, 106, 65, 0.66);border-radius: 10px; position:absolute;}


<<<<<<< Updated upstream
/* PÄIVITETTY UUDELLEEN SISÄLLÖN JA PRESENTAATION OSALTA 23.11.2015 10.00-12.00
=======
<<<<<<< HEAD
<<<<<<< HEAD
/* PÄIVITETTY UUDELLEEN SISÄLLÖN JA PRESENTAATION OSALTA 23.10.2015 14.30-16.00
=======
/* PÄIVITETTY UUDELLEEN SISÄLLÖN JA PRESENTAATION OSALTA 23.11.2015 10.00-12.00
>>>>>>> origin/master
=======
/* PÄIVITETTY UUDELLEEN SISÄLLÖN JA PRESENTAATION OSALTA 23.11.2015 10.00-12.00
>>>>>>> origin/master
>>>>>>> Stashed changes
here is how to make borders animate ... element { border-radius: 90% / 50% 50% 0 0; transition: .2s; } element { border-radius: 90% }
rgba(170, 70, 59, 1); alkup taustaväri?? */
