html,body,.hela_sivu_1{ 
						display: block;
						max-width: 1000px;  
						margin-left: auto; 
						margin-right: auto;
						background-color: #c44032;
					}
fieldset,#valin-0.1,#palaus {
						display:inline-block; 
						margin-left:30px; 
						padding: 60px; 
						width:70%;
						background-color: #9ac0dd;
					}
header,.cell,.paasivus-0.0 {
						display:inline-block; 
						margin-left:40px; 
						padding: 10px; 
						width:180px;
					}
.paasivus-0.0 {
						display:inline-block; 
						margin-right:3em; 
						padding: 10px; 
						width:280px;
					}
table, td{				display: inline-block;
						border-collapse: separate;
					}
.poks-taulu			{ border: 1px solid rgba(236, 170, 156, 0.6);
					background-color: rgba(63, 170, 165, 0.3);
					}
.poks-cell td    	{ border: 3px solid rgba(236, 170, 156, 0.6);}

a:hover{			margin:0; 
						color:orange;
					}
body,#paasi-foot,{ 
						background-color: rgba(36, 170, 156, 0.3); 
						margin:0.4em; 
						color: rgba(26, 74, 53, 0.71);
					}
#boora{ 				border-radius: 40px;
					}
/* #boora:hover {border-radius: 30%;} */
#boura{ 				border-radius: 100px /50% 50% 0 0 transition 0.3;
}
#boura:hover {border-radius: 10%;} 
.toggler { 				display: inline-block; 
						margin:auto ;  
						width: 850px; 
						height: 300px; 
						border-radius: 0.5%;}
#accordion { 			width: 850px; 
						margin:auto; 
						position:relative; 
					}
#paa_nav, #button { 	margin-right:3.3em; 
						text-decoration: none; 
					}
.sisen_0 { 			white-space:pre; 
}
#paa_nav, #button:hover {color:red; position: relative;}
#effect { margin:auto; width: 850px; height: 280px; position: relative; color: navy;text-align: center;background-color:rgba(239, 181, 14, 0.80);border-radius: 2.5%;}
#effectTypes { width: 140px; height: 20px; position: relative; text-align: center;}
section{ margin:auto; text-align: auto; position:relative; border-radius: 6%;}
#selit,{ display:block; margin-top: 15px;  text-align: center; width:100%; position:relative;background-color:rgba(20, 255, 208, 0.6);}
h1,h2,h3,h4,p,#lyhyt { margin:auto; padding:5px; text-align: center; color:#99dbaa; border-radius: 45%;}
*.shadow { text-shadow:#999999 5px 5px 5px;}
#otsikko,#omaOtsikko{margin-left: 10px; width:508; position: relative; text-align:left; }
aside,#silita,{ display: inline-block; margin-right: 230px; width: 550px; position: relative; }
#silita-0.1{ margin:auto; width: 300px; position: relative;}
#ui-id-2 { background: #5ec089; margin:10px; border-radius: 30px;}
#ui-id-4 { background: #5ec079; margin:10px; border-radius: 30px;}
#ui-id-6 { background: #5ec069; margin:10px; border-radius: 30px;}
#ui-id-8 { background: #5ec059; margin:10px; border-radius: 30px;}
#ui-id-10{ background: #5ec049; margin:10px; border-radius: 30px;}
.important { margin-top: 20px;margin-left: 10px; color:#0918dd; width: 200px; height: 280px; border-radius: 40px; position:relative;}

    #v_nav_bar a { margin:5px;padding:2px; font-style:italic; display: block; width:100px; border-radius: 10px; position:relative;}
    #v_nav_bar a:link { color:#2599d0; background-color: #1893ba; }
    #v_nav_bar a:visited { color:rgba(128, 203, 196, 0.62); background-color: #1893ba; }
    #v_nav_bar a:hover { color:#99d0d0; background-color: #1e93ba;}
    #v_nav_bar a:active { color:#aa99d0; background-color: #1893ba;}

#v_nav_bar {display:block; background-color:rgba(215, 106, 65, 0.66);border-radius: 10px; position:absolute;}


/* here is how to make borders animate ... element { border-radius: 90% / 50% 50% 0 0; transition: .2s; } element { border-radius: 90% } */
