html,body,fieldset,section,div,h1,h2,{ display: inline-block; margin: 14px;}

body,h3,h4,a
{ background-color: #9ac011; margin:8px;}

.toggler { width: 300px; height: 400px; }
#button { padding: 0.5em; margin:1em; text-decoration: none; }
#effect { width: 440px; height: 235px; margin-left:8px;margin-top: 10px; padding: 1.1em; position: absolute; color:orange; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center;}

#omaOtsikko { margin-left: 310px; position: absolute; text-align:center; }
#otsikko {margin-left: 490px; position: relative; text-align:center; }

.important { color:#0918dd; width: 10%; height: 20%;}

    #v_nav_bar a { padding:10px; font-weight:bold; display:inline-block; width:100px; }
    #v_nav_bar a:link { color:#2599d0; background-color: #1893ba; }
    #v_nav_bar a:visited { color:#d0d0d0; background-color: #1893ba; }
    #v_nav_bar a:hover { color:#11d0d0; background-color: #1893ba;}
    #v_nav_bar a:active { color:#aa99d0; background-color: #1893ba;}

#v_nav_bar {background-color: #1893ba;}

